<!-- Navigation Menus start-->
<%- include("../components/adminnavbar") -%>
<!-- Navigation Menus ends--> 

<main>
    <div class="container">
        <div class="settings-main">
            <form action="" method="post" enctype="multipart/form-data">
                <h3>+Change Profile</h3>
                <input type="file" name="PostImage" accept="image/png, image/jpeg" required>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
            
        </div>
    </div>
</main>

<!-- Footer Start-->
<%- include("../components/footer") -%>