<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/TechBlog.png">
    <title>TechBlog</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/admin.css" />
  </head>
  <body>
    <!-- Navigation Menus start-->
    <nav>
      <div class="overhead-design"></div>
      <div class="container">
        <div class="navbar">

            <div class="logo">
              <a href="../admin"><img src="../images/TechBlog.png" alt="TechBlog" /></a>
              <a href="../admin"><h1>Blog</h1></a>
            </div>
            <div class="menu">
                <ul class="menu-list">
                  <li><a href="../admin">Dashboard</a></li>
                  <li><a href="../admin/compose">Compose</a></li>
                  <li><a href="../admin/published">Published</a></li>
                  <li><a href="../admin/feedback">Feedback</a></li>
                  <li><a href="../admin/settings">Settings</a></li>
                </ul>
            </div>
        </div>
      </div>
    </nav> 