<footer>
    <div class="overhead-design"></div>
    <div class="container">
      <div class="footer">
        <div class="footer-heading">
          <div class="footerT-D">
            <h2>Sign up to our newsletter</h2>
            <p>
              Stay up to date with the latest news, announcements, and
              articles.
            </p>
          </div>

          <form>
            <input type="email" name="" id="" placeholder="Enter your email" autocomplete="off" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
        <!-- Footer body -->
        <div class="footer-body">
          <div class="ft-logo-description">
            <div class="ft-logo">
              <img src="../images/TechBlog.png" alt="TechBlog"  class="footer-logo"/>
              <p>Blog</p>
            </div>
            <p class="footer-description">
              Design amazing digital experiences that create more happy in the
              world.
            </p>
          </div>
          <div class="footer-product">
            <p class="footer-product-title">Overview</p>
            <p><a href="">Features</a></p>
            <p><a href="">Solutions</a></p>
            <p><a href="">Tutorials</a></p>
            <p><a href="">Pricing</a></p>
          </div>
          <div class="footer-resources">
            <p class="footer-resources-title">Resources</p>
            <p><a href="../">Blog</a></p>
            <p><a href="">Newsletter</a></p>
            <p><a href="">Events</a></p>
            <p><a href="">Help Centre</a></p>
            <p><a href="">Support</a></p>
          </div>
          <div class="footer-social">
            <p class="footer-social-title">Social</p>
            <p><a href="https://twitter.com/givestarzy">Twitter</a></p>
            <p><a href="https://linkedin.com/in/chukwu-godgive">LinkedIn</a></p>
            <p><a href="http://facebook.com/chukwu-godgive">Facebook</a></p>
            <p><a href="http://facebook.com/chukwu-godgive">Github</a></p>
            <p><a href="">Thread</a></p>
          </div>
          <div class="footer-legal">
            <p class="footer-legal-title">Legal</p>
            <p><a href="">Terms</a></p>
            <p><a href="">Privacy</a></p>
            <p><a href="">Cookies</a></p>
            <p><a href="">Licenses</a></p>
            <p><a href="">Contact</a></p>
          </div>
        </div>

        <div class="footer-end">
          <hr class="horizontal-line" />
          <div class="copyright-social">
            <div class="copyright">
              <p>
                &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                <a href="">TechBlog.</a> All rights reserved.
              </p>
            </div>
            <div class="social-icons">
              <a href="https://twitter.com/givestarzy">
                <i class="fi fi-brands-twitter"></i>
              </a>
              <a href="https://linkedin.com/in/chukwu-godgive">
                <i class="fi fi-brands-linkedin"></i>
              </a>
              <a href="http://facebook.com/chukwu-godgive">
                <i class="fi fi-brands-facebook"></i>
              </a>
              <a href="http://facebook.com/chukwu-godgive">
                <i class="fi fi-brands-github"></i>
              </a>
              <a href="">
                <i class="fi fi-brands-thread"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>