<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/TechBlog.png">
    <title>TechBlog</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <!-- Navigation Menus start-->
    <nav>
      <div class="overhead-design"></div>
      <div class="container">
        <div class="navbar">

            <div class="logo">
              <a href="../"><img src="../images/TechBlog.png" alt="TechBlog" /></a>
              <a href="../"><h1>Blog</h1></a>
            </div>
            <div class="menu">
                <ul class="menu-list">
                    <li><a href="../">Home</a></li>
                    <li>
                        <a href="">Products <i class="fi fi-bs-angle-small-down"></i></a>
                        <ul class="sub-products products">
                            <li><a href="">Product 1</a></li>
                            <li><a href="">Product 2</a></li>
                            <li><a href="">Product 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Resources <i class="fi fi-bs-angle-small-down"></i></a>
                        <ul class="sub-products resources">
                            <li><a href="">Resources 1</a></li>
                            <li><a href="">Resources 2</a></li>
                            <li><a href="">Resources 3</a></li>
                        </ul>
                    </li>
                    <li><a href="../feedback">Feedback</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
                <div>
                    <a href="../login" class="menu-btn">Get started</a>
                </div>
                <div class="profile">
                    <img src="<%=AdminProfile%>" alt="Admin profile" />
                </div>
            </div>
        </div>
      </div>
    </nav>